<% layout('layouts/boilerplate') %>

<div class="card">
  <img src="<%=beverage.img.url %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=beverage.brand.name%> <%= beverage.flavor %></h5>
    <p class="card-text"><%=beverage.size %></p>
    <div class="btn-group" role="group">
    <a href="/beverages/<%=beverage._id%>/edit" class="btn btn-secondary">Edit</a>
    <a href="/beverages" class="btn btn-primary">Go Back</a>
  </div>
    <form class="d-inline" action="/beverages/<%= beverage._id%>?_method=DELETE" method="POST">
      <button class="btn btn-sm btn-danger ms-5">Remove Beverage</button>
  </form>
    </div>
  </div>