<% layout('layouts/boilerplate') %>

<script>
    const companies = '<%- JSON.stringify(companies) %>';
    const brands = '<%- JSON.stringify(brands) %>';
    const beverages = '<%- JSON.stringify(beverages) %>';
</script>

    <form id="inputContainer" class="container bg-secondary-subtle pt-3 pb-3 position-sticky top-0 validated-form" action="#" novalidate>
        <div class="row mb-2 g-2">
            <div class="form-group col-6">
                <select name="company" id="company" class="form-select" required>
                    <option value="">Company:</option>
                    <% for(let company of companies) {%>
                        <option value="<%=company._id %>"><%=company.name %></option>
                        <% } %>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Select a Company</div>
            </div>
            <div class="form-group col-6">
                <select name="brand" id="brand" class="form-select" disabled required>
                    <option value="">Brand:</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Select a Brand</div>
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="form-group col-6">
                <select name="flavor" id="flavor" class="form-select" disabled required>
                    <option value="">Flavor:</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Select a flavor</div>
            </div>
            <div class="form-group col-6">
                <select name="variety" id="variety" class="form-select" disabled required>
                    <option value="">Variety:</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Select a Variety</div>
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="form-group col-6">
                <select name="size" id="size" class="form-select" disabled required>
                    <option value="">Package Size:</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Select a Package Size</div>
            </div>
            <div class="form-group col-3">
                    <input name="cases" type="number" id="cases" class="input-group-text numberInput" placeholder="Cases"
                        disabled>
            </div>
            <div class="form-group col-3">
            <input name="units" type="number" id="units" class="input-group-text numberInput" placeholder="Units"
                disabled>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-6"></div>
            <div class="form-group col-3">
                <button name="add" type="submit" id="submit" class="w-100 btn btn-primary">ADD</button></div>
            <div class="form-group col-3">
                <button name="reset" type="reset" id="reset" value="Reset" class="w-100 btn btn-danger">RESET</button></div>
        </div>
    </form>
    <section id="list">
        <h2 class="text-center mt-2">Products to Fill</h2>
        <div class="table">

        </div>
    </section>
    <script defer src="/js/app.js"></script>